.side-border:last-child {
    border-right: 0px solid #aaaaaa;
}
.social-icons li a.lang-link {
    line-height: 1.3 !important;
}

@media (max-width:1440px) {
    .navigator {
        left: 15px;
    }
        .navigator li ::after {
            bottom: 10px
        }
        .navigator li a {
            font-size: 0px;
        }
}

@media (max-height:768px) {
    .main-header .slider-wrapper .owl-carousel .item .caption {
        top: 105px;
    }

    .main-header .slider-wrapper .actions {
        bottom: 30px
    }
}
div#datepickerTo {
    float: right;
}
@media (max-width: 961px) {
    #searchbox {
        left: inherit !important;
        right: 10% !important;
    }
}